{% extends 'base.html' %}
{% load static %}
{% block title %}FOLLOWERS{% endblock title %}
{% block main-content %}
<section>
    <div class="post-section-container col-sm-8 offset-sm-2">
      <h4 class="text-center pt-3 textfamily">FOLLOWERS</h4>
      <hr class="col-sm-8 offset-sm-2">
      <div class="row row-cols-1 row-cols-md-4 g-4 txtgeorgia">
        {% for follower in followers %}
        <div class="col text-center">
          <div class="card h-100 bg-secondary bg-opacity-50">
            <a href = "{% url 'userprofile' follower.user.id %}" class=" text-dark text-decoration-none mx-3 text-center">
            <img src={% static 'images/jhamlal.jpg' %} class="card-img-top user-img-profile-show d-block m-auto mt-3" alt="...">
             </a>
             <div class="card-body">
                <h5 class="card-title">{{follower.user}}</h5>
              </div>
              {% if follower.user.id in userid%}
              <div class="removefollower my-2">
                <a href={% url 'userunfollowinfollower' userfwid follower.user.id %} class="btn btn-warning px-4">Unfollow</a>
              </div>
                {% else %}
                <form action="" method="get">
                    <div class="my-2">
                        <a href={% url 'userfollowinfollower' userfwid follower.user.id %} class="btn btn-primary px-4">Follow</a>
                    </div>
                </form>
              {% endif %}
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
</section>
{% endblock %}